/* variables */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Header */
.header {
  background-image: radial-gradient(circle at 50% 50%, #ca2f33, #772b2a);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 140px;
}

.header__flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__flexbox__logo {
  width: 172px;
  height: 55px;
  margin: 43px 0 42px 67px;
}

.header__flexbox__right {
  margin: 50px 5%;
}

.header__flexbox__right__dropdown {
  display: none;
}

.header__flexbox__right__icon {
  height: 40px;
  vertical-align: top;
  display: inline-block;
}

.header__flexbox__right__icon__img {
  margin: 12px 6px 12px 0;
}

.header__flexbox__right__icon__text {
  display: inline-block;
  font-size: 14px;
  color: #fff;
  letter-spacing: 1.5px;
  vertical-align: top;
  margin: 13px 0;
  text-transform: uppercase;
}

.header__flexbox__right__profile {
  width: 40px;
  height: 40px;
  display: inline-block;
  margin: 0 13px;
  position: relative;
}

.header__flexbox__right__profile__pic {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 25px;
  background-color: #fff;
  overflow: hidden;
  position: relative;
}

.header__flexbox__right__menu, .header__flexbox__right .material-icons {
  display: inline-block;
  vertical-align: top;
  margin: 5px 3px;
  color: #fff;
  cursor: pointer;
}

.header__flexbox__right__menu:hover, .header__flexbox__right .material-icons:hover {
  color: #a1a1a1;
}

/* Navbar under red header */
.navbar {
  position: fixed;
  top: 140px;
  left: 0;
  right: 0;
  z-index: 10;
  height: 70px;
  background-color: #e1e1e1;
}

.navbar__dropdown {
  display: none;
}

.navbar__item {
  margin-right: 45px;
  display: inline-block;
  padding-top: 26.5px;
  cursor: pointer;
}

.navbar__item:hover a {
  color: #3e3e3e;
}

.navbar__item:first-child {
  margin-left: 60px;
}

.navbar__item a {
  color: #7d7d7d;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.navbar__item__search {
  top: 5px;
  right: calc(5% - 30px);
  position: absolute;
  padding: 16px 20px;
}

.navbar__item__search__input {
  border: none;
  border-radius: 25px;
  letter-spacing: 1.5px;
  font-size: 14px;
  color: #7d7d7d;
  text-transform: uppercase;
  width: 280px;
  height: 30px;
  padding: 5px 7px 4px 15px;
}

.fa-search {
  color: #7d7d7d;
  position: absolute;
  top: 24px;
  right: 35px;
}

/* Main title under nav bar and header */
.title__main {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 56px;
  font-weight: 100;
  color: #3e3e3e;
  margin-left: 67px;
  margin-top: 253px;
  position: relative;
}

.title__sort {
  font-size: 14px;
  letter-spacing: 1.5px;
  float: right;
  color: #7d7d7d;
  text-transform: uppercase;
  margin: 294px 83px;
}

.fa-angle-down {
  padding: 0;
}

/* Listed deliveries */
.card--1 {
  top: 37px;
  margin-top: 15px;
  margin-left: 60px;
  margin-right: 60px;
  height: 54px;
  display: block;
  position: relative;
  -webkit-box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.card--1__flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: absolute;
}

.card--1__flex-container__from {
  -webkit-box-flex: 50;
      -ms-flex-positive: 50;
          flex-grow: 50;
  margin: 18px;
  font-size: 15px;
  font-weight: bold;
  color: #ca2f33;
}

.card--1__flex-container__date {
  margin: 18px 2px 18px 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  font-size: 15px;
  color: #7d7d7d;
}

.card--1__flex-container__red {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 18px 18px 18px 0;
  background-color: #ca2f33;
  border-radius: 5px;
  text-align: center;
  height: 20px;
}

.card--1__flex-container__red__creator {
  margin: 1px;
  text-align: center;
  font-size: 15px;
  color: #fff;
}

.fa-bars {
  color: #7d7d7d;
}

/* Dropdown for media */
/* 400px */
@media only screen and (max-width: 400px) {
  .header__flexbox__logo {
    margin-left: 27px;
  }
  .header__flexbox__right__icon {
    display: none;
  }
  .header__flexbox__right__profile {
    display: none;
  }
  .header__flexbox__right__menu {
    display: none;
  }
  .header__flexbox__right__dropdown {
    position: relative;
    display: inline-block;
  }
  .header__flexbox__right__dropdown:hover .header__flexbox__right__dropdown__dropdown-content {
    display: block;
  }
  .header__flexbox__right__dropdown:hover .header__flexbox__right__dropdown__dropbtn {
    background-color: #772b2a;
  }
  .header__flexbox__right__dropdown__dropbtn {
    font-size: 20px;
    border: none;
    cursor: pointer;
    background-color: transparent;
  }
  .header__flexbox__right__dropdown__dropdown-content {
    display: none;
    position: absolute;
    min-width: 200px;
    z-index: 10;
    -webkit-box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.15);
            box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.15);
    right: 0;
    padding: 6px;
  }
  .header__flexbox__right__dropdown__dropdown-content a {
    padding: 12px 12px;
    text-decoration: none;
    display: block;
    font-size: 18px;
  }
  .header__flexbox__right__icon-mobile {
    display: inline-block;
    height: 40px;
    vertical-align: top;
  }
  .header__flexbox__right__icon-mobile__img-mobile {
    margin: 12px 6px 12px 0;
  }
  .header__flexbox__right__icon-mobile__text-mobile {
    display: inline-block;
    font-size: 14px;
    color: #fff;
    letter-spacing: 1.5px;
    vertical-align: top;
    margin: 13px 0;
    text-transform: uppercase;
  }
  .header__flexbox__right__profile-mobile {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 0 13px;
    position: relative;
  }
  .header__flexbox__right__profile-mobile__pic-mobile {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 25px;
    background-color: #fff;
    overflow: hidden;
    position: relative;
  }
  .navbar__item {
    display: none;
  }
  .navbar__dropdown {
    position: relative;
    display: inline-block;
  }
  .navbar__dropdown:hover .navbar__dropdown__dropdown-content {
    display: block;
  }
  .navbar__dropdown:hover .navbar__dropdown__dropbtn {
    background-color: #c0c0c0;
  }
  .navbar__dropdown__dropbtn {
    background-color: #e1e1e1;
    color: #fff;
    padding: 12px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    margin: 11px 20px;
  }
  .navbar__dropdown__dropdown-content {
    display: none;
    position: absolute;
    background-color: #e1e1e1;
    max-width: 400px;
    z-index: 10;
    -webkit-box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.15);
            box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.15);
  }
  .navbar__dropdown__dropdown-content a {
    color: #7d7d7d;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
    text-transform: uppercase;
  }
  .navbar__dropdown__dropdown-content a:first-child {
    color: #3e3e3e;
  }
  .navbar__dropdown__dropdown-content a:hover {
    background-color: #c0c0c0;
  }
  .navbar__item__search {
    top: 5px;
    right: calc(5% - 5px);
    position: absolute;
    padding: 16px 20px;
  }
  .navbar__item__search__input {
    border: none;
    border-radius: 25px;
    letter-spacing: 1.5px;
    font-size: 14px;
    color: #7d7d7d;
    text-transform: uppercase;
    width: 200px;
    height: 30px;
    padding: 5px 7px 4px 15px;
  }
  .title__main {
    font-family: "Montserrat", sans-serif;
    font-size: 45px;
    font-weight: 100;
    color: #3e3e3e;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 253px;
    position: relative;
  }
  .title__sort {
    font-size: 12px;
    letter-spacing: 1.5px;
    color: #7d7d7d;
    text-transform: uppercase;
    margin: 50px 100px;
  }
  .card--1 {
    top: 60px;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
    height: 54px;
    display: block;
    position: relative;
    -webkit-box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.15);
            box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.15);
    border-radius: 5px;
  }
  .card--1__flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    position: absolute;
  }
  .card--1__flex-container__from {
    -webkit-box-flex: 50;
        -ms-flex-positive: 50;
            flex-grow: 50;
    margin: 15px;
    font-size: 12px;
    font-weight: bold;
    color: #ca2f33;
  }
  .card--1__flex-container__date {
    margin: 18px 2px 18px 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: center;
    font-size: 12px;
    color: #7d7d7d;
  }
  .card--1__flex-container__red {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin: 13px 18px 18px 0;
    background-color: #ca2f33;
    border-radius: 5px;
    text-align: center;
    height: 30px;
  }
  .card--1__flex-container__red__creator {
    margin: 1px;
    text-align: center;
    font-size: 12px;
    color: #fff;
  }
}

/* 700px */
@media only screen and (max-width: 700px) {
  .header__flexbox__right__icon {
    display: none;
  }
  .header__flexbox__right__profile {
    display: none;
  }
  .header__flexbox__right__menu {
    display: none;
  }
  .header__flexbox__right__dropdown {
    position: relative;
    display: inline-block;
  }
  .header__flexbox__right__dropdown:hover .header__flexbox__right__dropdown__dropdown-content {
    display: block;
  }
  .header__flexbox__right__dropdown:hover .header__flexbox__right__dropdown__dropbtn {
    background-color: #772b2a;
  }
  .header__flexbox__right__dropdown__dropbtn {
    font-size: 20px;
    border: none;
    cursor: pointer;
    background-color: transparent;
  }
  .header__flexbox__right__dropdown__dropdown-content {
    display: none;
    position: absolute;
    min-width: 200px;
    z-index: 10;
    -webkit-box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.15);
            box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.15);
    right: 0;
    padding: 6px;
  }
  .header__flexbox__right__dropdown__dropdown-content a {
    padding: 12px 12px;
    text-decoration: none;
    display: block;
    text-transform: uppercase;
  }
  .header__flexbox__right__icon-mobile {
    display: inline-block;
    height: 40px;
    vertical-align: top;
  }
  .header__flexbox__right__icon-mobile__img-mobile {
    margin: 12px 6px 12px 0;
  }
  .header__flexbox__right__icon-mobile__text-mobile {
    display: inline-block;
    font-size: 14px;
    color: #fff;
    letter-spacing: 1.5px;
    vertical-align: top;
    margin: 13px 0;
    text-transform: uppercase;
  }
  .header__flexbox__right__profile-mobile {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 0 13px;
    position: relative;
  }
  .header__flexbox__right__profile-mobile__pic-mobile {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 25px;
    background-color: #fff;
    overflow: hidden;
    position: relative;
  }
  .navbar__item {
    display: none;
  }
  .navbar__dropdown {
    position: relative;
    display: inline-block;
  }
  .navbar__dropdown:hover .navbar__dropdown__dropdown-content {
    display: block;
  }
  .navbar__dropdown:hover .navbar__dropdown__dropbtn {
    background-color: #c0c0c0;
  }
  .navbar__dropdown__dropbtn {
    background-color: #e1e1e1;
    color: #fff;
    padding: 12px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    margin: 11px 20px;
  }
  .navbar__dropdown__dropdown-content {
    display: none;
    position: absolute;
    background-color: #e1e1e1;
    min-width: 700px;
    z-index: 10;
    -webkit-box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.15);
            box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.15);
  }
  .navbar__dropdown__dropdown-content a {
    color: #7d7d7d;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
    text-transform: uppercase;
  }
  .navbar__dropdown__dropdown-content a:first-child {
    color: #3e3e3e;
  }
  .navbar__dropdown__dropdown-content a:hover {
    background-color: #c0c0c0;
  }
  .title__sort {
    font-size: 12px;
    letter-spacing: 1.5px;
    color: #7d7d7d;
    text-transform: uppercase;
    margin: 30px 100px;
  }
}

/* 800px */
@media only screen and (max-width: 800px) {
  .header__logo {
    margin: 42.5px 37px;
    margin-right: 0;
  }
  .navbar__item {
    display: none;
  }
  .navbar__dropdown {
    position: relative;
    display: inline-block;
  }
  .navbar__dropdown:hover .navbar__dropdown__dropdown-content {
    display: block;
  }
  .navbar__dropdown:hover .navbar__dropdown__dropbtn {
    background-color: #c0c0c0;
  }
  .navbar__dropdown__dropbtn {
    background-color: #e1e1e1;
    color: #fff;
    padding: 12px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    margin: 11px 20px;
  }
  .navbar__dropdown__dropdown-content {
    display: none;
    position: absolute;
    background-color: #e1e1e1;
    min-width: 800px;
    z-index: 10;
    -webkit-box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.15);
            box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.15);
  }
  .navbar__dropdown__dropdown-content a {
    color: #7d7d7d;
    padding: 14px 12px;
    text-decoration: none;
    display: block;
    text-transform: uppercase;
  }
  .navbar__dropdown__dropdown-content a:first-child {
    color: #3e3e3e;
  }
  .navbar__dropdown__dropdown-content a:hover {
    background-color: #c0c0c0;
  }
  .title__sort {
    font-size: 12px;
    letter-spacing: 1.5px;
    color: #7d7d7d;
    text-transform: uppercase;
    margin-top: 50px;
  }
}
/*# sourceMappingURL=alldeliveries.css.map */