/* variables */
$lato: 'Lato', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$gradient: radial-gradient(circle at 50% 50%, #ca2f33, #772b2a);
$red: #ca2f33;
$grey: #3e3e3e;
$lightgrey: #7d7d7d;
$shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.15);
$green: #50ae55;

* {
    box-sizing: border-box;
}

body {
    font-family: $lato;
    margin: 0 0;
    box-sizing: border-box;
}

/* Header */
.header {
    background-image: $gradient;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 140px;

    &__flexbox {
        display: flex;
        position: relative;
        justify-content: space-between;

        &__logo {
            width: 172px;
            height: 55px;
            margin: 43px 0 42px 67px;
            
        }

        &__popup {
            margin-top: 47px;
            background-color: #fff;
            width: 450px;
            height: 46px;
            border-radius: 4px;
            box-shadow: $shadow;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            

            &__notification {
                color: $green;
                font-size: 16px;
                font-weight: bold;
                text-align: center;
                margin: 14px 0px 15px 44px;
                position: absolute;
                color: $green;

            }
        }

        &__right {
            margin: 50px 5%; 

            &__dropdown {
                display: none;
            }

            &__icon {
                height: 40px;
                vertical-align: top;
                display: inline-block;
            
                &__img {
                    margin: 12px 6px 12px 0;
                }

                &__text {
                    display: inline-block;
                    font-size: 14px;
                    color: #fff;
                    letter-spacing: 1.5px;
                    vertical-align: top;
                    margin: 13px 0;
                    text-transform: uppercase;
                }
            }

            &__profile {
                width: 40px;
                height: 40px;
                display: inline-block;
                margin: 0 13px;
                position: relative;
    
                &__pic {
                    width: 40px;
                    height: 40px;
                    display: inline-block;
                    border-radius: 25px;
                    background-color: #fff;
                    overflow: hidden;
                    position: relative;
                }
            }

            &__menu, .material-icons {
                display: inline-block;
                vertical-align: top;
                margin: 5px 3px;
                color: #fff;
                cursor: pointer;

                &:hover {
                    color: #a1a1a1;
                }
            }
        }
    }
}

.fa-check {
    float: left;
    margin: 12px 14px;
    color: $green;
    font-size: 20px;
}

.fa-times {
    float: right;
    margin: 15.5px 16px;
    color: $green;
    font-size: 14px;
}

/* Navbar under red header */
.navbar {
    position: fixed;
    top: 140px;
    left: 0;
    right: 0;
    z-index: 10;
    height: 70px;
    background-color: #e1e1e1;

    &__dropdown {
        display: none;
    }

    &__item {
        margin-right: 45px;
        display: inline-block;
        padding-top: 26.5px;
        cursor: pointer;
        
        &:hover a {
            color: $grey;
        }
        
        &:first-child {
            margin-left: 60px;
        }  
        
        a {
            color: $lightgrey;
            text-decoration: none;
            font-size: 14px;
            letter-spacing: 1.5px;
            text-transform: uppercase;
        }
        
        &__search {
            top: 5px;
            right: calc(5% - 30px);
            position: absolute;
            padding: 16px 20px;
            
            &__input {
                border: none;
                border-radius: 25px;
                letter-spacing: 1.5px;
                font-size: 14px;
                color: $lightgrey;
                text-transform: uppercase;
                width: 280px;
                height: 30px;
                padding: 5px 7px 4px 15px;
            }
        }
    }
}


.fa-search {
    color: $lightgrey;
    position: absolute;
    top: 24px;
    right: 35px;
}

/* Main title under nav bar and header */
.title { 

    &__main {
        display: inline-block;
        font-family: $montserrat;
        font-size: 56px;
        font-weight: 100;
        color: $grey;
        margin-left: 67px;
        margin-top: 253px;
        position: relative;
        
    }
     
    &__sort {
        display: inline-block;
        font-size: 14px;
        letter-spacing: 1.5px;
        float: right;
        color: $lightgrey;
        text-transform: uppercase;
        margin: 294px 83px;
    }
}

.fa-angle-down {
    padding: 2px;
}

.card--1 {
    top: 37px;
    margin: 15px;
    max-width: 100%;
    height: 54px;
    display: block;
    margin-left: 60px;
    margin-right: 60px;
    position: relative;
    box-shadow: $shadow;
    border-radius: 5px;

    &__flex-container {
        display: flex;
        width: 100%;
        position: absolute;

        &__wrapper {
            width: fit-content;
            height: 54px;
            transform: rotate(-180deg);
            border-radius: 4px;
            background-color: rgba(0, 0, 0, 0.04);
            
        }

        &__from {
            margin: 18px 0 18px 17px;
            font-size: 15px;
            font-weight: bold;
            color: $red;
        }

        &__to {
            margin: 18px 0 18px 17px;
            font-size: 15px;
            color: $grey;
        }

        &__about {
            margin: 18px 0 18px 17px;
            font-size: 15px;
            color: $lightgrey;
        }

        &__date {
            margin: 18px 19px;
            margin-left: auto;
            text-align: center;
            font-size: 15px;
            color: $lightgrey;
        }
    }
}


.fa-exclamation-circle {
    margin: 18px; 
    color: $red;
    font-size: 17px;
    transform: rotate(-180deg);
}

.fa-bars {
    color: $lightgrey;
}


/* Dropdown for media */

/* 400px */
@media only screen and (max-width: 400px) {

    .header {

        &__flexbox{

            &__popup {
                margin-top: 0;
                background-color: #fff;
                width: 350px;
                height: 40px;
                border-radius: 4px;
                box-shadow: $shadow;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                
    
                &__notification {
                    color: $green;
                    font-size: 16px;
                    font-weight: bold;
                    text-align: center;
                    margin: 14px 0px 15px 44px;
                    position: absolute;
                    color: $green;
                }
            }

            &__right {

                &__icon {
                    display: none;
                }

                &__profile {
                    display: none;
                }

                &__menu {
                    display: none;
                }

                &__dropdown {
                    position: relative;
                    display: inline-block;

                    &:hover &__dropdown-content{
                        display: block;
                    }

                    &:hover &__dropbtn {
                        background-color: #772b2a;
                    }

                    &__dropbtn {
                        font-size: 20px;
                        border: none;
                        cursor: pointer;
                        background-color: transparent;
                    }   

                    &__dropdown-content {
                        display: none;
                        position: absolute;
                        min-width: 200px;
                        z-index: 10;
                        box-shadow: $shadow;
                        right: 0;
                        padding: 6px;
                    }
    
                    &__dropdown-content a {
                        padding: 12px 12px;
                        text-decoration: none;
                        display: block;
                        font-size: 18px;
                        text-transform: uppercase;
                    }
    
                    &__dropdown-content a:hover { 
                    }
                }

                &__icon-mobile {
                    display: inline-block;
                    height: 40px;
                    vertical-align: top;
    
                    &__img-mobile {
                        margin: 12px 6px 12px 0;
                    }
    
                    &__text-mobile {
                        display: inline-block;
                        font-size: 14px;
                        color: #fff;
                        letter-spacing: 1.5px;
                        vertical-align: top;
                        margin: 13px 0;
                        text-transform: uppercase;
                    }
                }
    
                &__profile-mobile {
                    width: 40px;
                    height: 40px;
                    display: inline-block;
                    margin: 0 13px;
                    position: relative;
    
                    &__pic-mobile {
                        width: 40px;
                        height: 40px;
                        display: inline-block;
                        border-radius: 25px;
                        background-color: #fff;
                        overflow: hidden;
                        position: relative;
                    }
                }
            }  
        }
    }

    .navbar {
        
        &__item {
           display: none; 
        }

        &__dropdown {
            position: relative;
            display: inline-block;

            &:hover &__dropdown-content {
                display: block;
            }

            &:hover &__dropbtn {
                background-color: #c0c0c0;
            }

            &__dropbtn {
                background-color: #e1e1e1;
                color: #fff;
                padding: 12px;
                font-size: 20px;
                border: none;
                cursor: pointer;
                margin: 11px 20px;
            }

            &__dropdown-content {
                display: none;
                position: absolute;
                background-color: #e1e1e1;
                min-width: 400px;
                z-index: 10;
                box-shadow: $shadow;
            }

            &__dropdown-content a {
                color: $lightgrey;
                padding: 12px 12px;
                text-decoration: none;
                display: block;
                text-transform: uppercase;

                &:first-child {
                    color: $grey;
                }
            }

            &__dropdown-content a:hover {
                background-color: #c0c0c0; 
            }
        }

        &__item {

            &__search {
                top: 5px;
                right: calc(5% - 5px);
                position: absolute;
                padding: 16px 20px;
                
                &__input {
                    border: none;
                    border-radius: 25px;
                    letter-spacing: 1.5px;
                    font-size: 14px;
                    color: $lightgrey;
                    text-transform: uppercase;
                    width: 200px;
                    height: 30px;
                    padding: 5px 7px 4px 15px;
                }
            }
        }
    }

    .title {

        &__main {
            font-family: $montserrat;
            font-size: 44px;
            font-weight: 100;
            color: $grey;
            margin-left: 60px;
            margin-right: 60px;
            margin-top: 253px;
            position: relative; 
    
        }
    
        &__sort {
            font-size: 12px;
            letter-spacing: 1.5px;
            color: $lightgrey;
            text-transform: uppercase;
            margin: 50px 100px;

                    
        }
    }

    .card--1 {
        top: 60px;
        margin-top: 15px;
        margin-left: 20px;
        margin-right: 20px;
        height: 54px;
        display: block;
        position: relative;
        box-shadow: $shadow;
        border-radius: 5px;

        &__flex-container {
            display: flex;
            width: 100%;
            position: absolute;
            

            &__wrapper {
                width: fit-content;
                height: 54px;
                transform: rotate(-180deg);
                border-radius: 4px;
                background-color: rgba(0, 0, 0, 0.04);
                
            }

            &__from {
                white-space: nowrap;
                flex-grow: 50;
                margin: 19px;
                font-size: 12px;
                font-weight: bold;
                color: $red;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            &__to {
                margin: 15px 0 18px 17px;
                font-size: 12px;
                color: $grey;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
    
            &__about {
                white-space: nowrap;
                margin: 18px 0 18px 17px;
                font-size: 12px;
                color: $lightgrey;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &__date {
                margin: 18px 2px 18px 0; 
                flex-grow: 1;
                text-align: center;
                font-size: 12px;
                color: $lightgrey;
            }

            &__red {
                flex-grow: 1;
                margin: 13px 18px 18px 0;
                background-color: $red;
                border-radius: 5px;
                text-align: center;
                height: 30px;

                &__creator {
                    margin: 1px;
                    text-align: center;
                    font-size: 12px;
                    color: #fff;
                }
            }
        }
    }
}

/* 700px */
@media only screen and (max-width: 700px) {

    .header {

        &__flexbox{

            &__logo {
                margin-left: 27px;
            }

            &__popup {
                margin-top: 0;
                background-color: #fff;
                width: 400px;
                height: 40px;
                border-radius: 4px;
                box-shadow: $shadow;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                
    
                &__notification {
                    color: $green;
                    font-size: 16px;
                    font-weight: bold;
                    text-align: center;
                    margin: 14px 0px 15px 44px;
                    position: absolute;
                    color: $green;
                }
            }

            &__right {

                &__icon {
                    display: none;
                }

                &__profile {
                    display: none;
                }

                &__menu {
                    display: none;
                }

                &__dropdown {
                    position: relative;
                    display: inline-block;

                    &:hover &__dropdown-content{
                        display: block;
                    }

                    &:hover &__dropbtn {
                        background-color: #772b2a;
                    }

                    &__dropbtn {
                        font-size: 20px;
                        border: none;
                        cursor: pointer;
                        background-color: transparent;
                    }   

                    &__dropdown-content {
                        display: none;
                        position: absolute;
                        min-width: 200px;
                        z-index: 10;
                        box-shadow: $shadow;
                        right: 0;
                        padding: 6px;
                    }
    
                    &__dropdown-content a {
                        padding: 12px 12px;
                        text-decoration: none;
                        display: block;
                        text-transform: uppercase;
                    }
    
                    &__dropdown-content a:hover { 
                    }
                }

                &__icon-mobile {
                    display: inline-block;
                    height: 40px;
                    vertical-align: top;
    
                    &__img-mobile {
                        margin: 12px 6px 12px 0;
                    }
    
                    &__text-mobile {
                        display: inline-block;
                        font-size: 14px;
                        color: #fff;
                        letter-spacing: 1.5px;
                        vertical-align: top;
                        margin: 13px 0;
                        text-transform: uppercase;
                    }
                }
    
                &__profile-mobile {
                    width: 40px;
                    height: 40px;
                    display: inline-block;
                    margin: 0 13px;
                    position: relative;
    
                    &__pic-mobile {
                        width: 40px;
                        height: 40px;
                        display: inline-block;
                        border-radius: 25px;
                        background-color: #fff;
                        overflow: hidden;
                        position: relative;
                    }
                }
            }  
        }
    }

    .navbar {
        
        &__item {
           display: none; 
        }

        &__dropdown {
            position: relative;
            display: inline-block;

            &:hover &__dropdown-content {
                display: block;
            }

            &:hover &__dropbtn {
                background-color: #c0c0c0;
            }

            &__dropbtn {
                background-color: #e1e1e1;
                color: #fff;
                padding: 12px;
                font-size: 20px;
                border: none;
                cursor: pointer;
                margin: 11px 20px;
            }

            &__dropdown-content {
                display: none;
                position: absolute;
                background-color: #e1e1e1;
                min-width: 700px;
                z-index: 10;
                box-shadow: $shadow;
            }

            &__dropdown-content a {
                color: $lightgrey;
                padding: 12px 12px;
                text-decoration: none;
                display: block;
                text-transform: uppercase;

                &:first-child {
                    color: $grey;
                }
            }

            &__dropdown-content a:hover {
                background-color: #c0c0c0; 
            }
        }
    }

    .title {

        &__main {
            font-family: $montserrat;
            font-size: 44px;
            font-weight: 100;
            color: $grey;
            margin-left: 60px;
            margin-right: 60px;
            margin-top: 253px;
            position: relative; 
    
        }
    
        &__sort {
            font-size: 12px;
            letter-spacing: 1.5px;
            color: $lightgrey;
            text-transform: uppercase;
            margin: 50px 100px;

                    
        }
    }

    .card--1 {
        top: 60px;
        margin-top: 15px;
        margin-left: 20px;
        margin-right: 20px;
        height: 54px;
        display: block;
        position: relative;
        box-shadow: $shadow;
        border-radius: 5px;

        &__flex-container {
            display: flex;
            width: 100%;
            position: absolute;
            

            &__wrapper {
                width: fit-content;
                height: 54px;
                transform: rotate(-180deg);
                border-radius: 4px;
                background-color: rgba(0, 0, 0, 0.04);
                
            }

            &__from {
                white-space: nowrap;
                flex-grow: 50;
                margin: 19px;
                font-size: 12px;
                font-weight: bold;
                color: $red;
                text-overflow: ellipsis;
            }

            &__to {
                margin: 15px 0 18px 17px;
                font-size: 12px;
                color: $grey;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
    
            &__about {
                white-space: nowrap;
                margin: 18px 0 18px 17px;
                font-size: 12px;
                color: $lightgrey;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &__date {
                margin: 18px 2px 18px 0; 
                flex-grow: 1;
                text-align: center;
                font-size: 12px;
                color: $lightgrey;
            }

            &__red {
                flex-grow: 1;
                margin: 13px 18px 18px 0;
                background-color: $red;
                border-radius: 5px;
                text-align: center;
                height: 30px;

                &__creator {
                    margin: 1px;
                    text-align: center;
                    font-size: 12px;
                    color: #fff;
                }
            }
        }
    }
}

/* 800px */
@media only screen and (max-width: 800px) {

    .header {

        &__flexbox{

            &__logo {
                margin-left: 27px;
            }

            &__popup {
                margin-top: 0;
                background-color: #fff;
                width: 400px;
                height: 40px;
                border-radius: 4px;
                box-shadow: $shadow;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                
    
                &__notification {
                    color: $green;
                    font-size: 16px;
                    font-weight: bold;
                    text-align: center;
                    margin: 14px 0px 15px 44px;
                    position: absolute;
                    color: $green;
                }
            }
        }
    } 

    .navbar {
        
        &__item {
           display: none; 
        }

        &__dropdown {
            position: relative;
            display: inline-block;

            &:hover &__dropdown-content {
                display: block;
            }

            &:hover &__dropbtn {
                background-color: #c0c0c0;
            }

            &__dropbtn {
                background-color: #e1e1e1;
                color: #fff;
                padding: 12px;
                font-size: 20px;
                border: none;
                cursor: pointer;
                margin: 11px 20px;
            }

            &__dropdown-content {
                display: none;
                position: absolute;
                background-color: #e1e1e1;
                min-width: 800px;
                z-index: 10;
                box-shadow: $shadow;
            }

            &__dropdown-content a {
                color: $lightgrey;
                padding: 14px 12px;
                text-decoration: none;
                display: block;
                text-transform: uppercase;

                &:first-child {
                    color: $grey;
                }
            }

            &__dropdown-content a:hover {
                background-color: #c0c0c0; 
            }
        }
    }

    .title__sort {
        margin-top: 50px;
    }

    .card--1 {
        top: 60px;
        margin-top: 15px;
        margin-left: 20px;
        margin-right: 20px;
        height: 54px;
        display: block;
        position: relative;
        box-shadow: $shadow;
        border-radius: 5px;

        &__flex-container {
            display: flex;
            width: 100%;
            position: absolute;
            

            &__wrapper {
                width: fit-content;
                height: 54px;
                transform: rotate(-180deg);
                border-radius: 4px;
                background-color: rgba(0, 0, 0, 0.04);
                
            }

            &__from {
                white-space: nowrap;
                flex-grow: 50;
                margin: 19px;
                font-size: 15px;
                font-weight: bold;
                color: $red;
                text-overflow: ellipsis;
            }

            &__to {
                margin: 15px 0 18px 17px;
                font-size: 15px;
                color: $grey;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
    
            &__about {
                white-space: nowrap;
                margin: 18px 0 18px 17px;
                font-size: 15px;
                color: $lightgrey;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &__date {
                margin: 18px 2px 18px 0; 
                flex-grow: 1;
                text-align: center;
                font-size: 15px;
                color: $lightgrey;
            } 
        }
    }
}

